/* General */
.ConsultHistory_Box {
    max-width: 750px;
    margin:  30px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-radius: 15px; /* Ajustado al estilo anterior */
    box-shadow: 0 20px 40px rgba(132, 133, 187, 0.7); /* Sombra más intensa */
    text-align: center;
    background: rgba(255, 255, 255, 0.95); /* Fondo blanco translúcido */
}

/* Títulos */
h2.ConsultaTareas {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 28px;
    color: #1D1B6E;
    font-weight: 600;
}

/* Loading and Error Messages */
.error-message, .success-message {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

.error-message {
    color: #d9534f; /* Color de error */
    background-color: #f8d7da; /* Fondo claro para errores */
    border: 1px solid #d9534f;
}

.success-message {
    color: #18187e; /* Color de éxito */
    background-color: #d1ecf1; /* Fondo claro para éxito */
    border: 1px solid #5bc0de;
}

/* Lista de tareas */
.ulTarea {
    list-style: none;
    padding: 0;
    margin: 0;
}

.liTarea {
    border-bottom: 1px solid #e1e1e1;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff; /* Fondo blanco */
    border-radius: 10px; /* Bordes redon*/
}