/* ConsultForm.css */
.Consult_Box{
    
    background-color: cadetblue;
    width: 700px;
    height: auto;
    margin-bottom: 25px;
    padding-bottom: 15px;

}

.btnSavetask {

    height:38px;
    border: 1px solid; 
    color:#0b0b0b;
}

.btnDeleteTask {
    color: red;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
}