
.banner {
    background-color: #1D1B6E; /* Color de fondo del banner */
    color: white;
    padding: 60px; /* Espaciado interno del banner */
    text-align: center;
    position: relative;
    width: 800px;
    height: 400px;
    margin-top: -30px;
  }
  
  .banner-title {
    font-size: 2rem;
    margin: 0;
  }
  
  .banner-subtitle {
    font-size: 1.25rem;
    margin: 10px 0;
  }
  
  .technology-strip {
    background-color: white;
    position: absolute;
    bottom: -30px; /* Posiciona la cinta debajo del banner */
    left: 0;
    width: 100%;
    overflow: hidden;
  }
  
  .technology-logos {
    display: flex;
    align-items: center;
    animation: scroll 18s linear infinite;
    margin-bottom: 40px;
  }
  
  .technology-logos img {
    height: 50px; /* Ajusta el tamaño de los logotipos */
    margin-right: 30px; /* Espaciado entre logotipos */
  }
  
  @keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  