.home-second-banner {
    position: relative;
    background-color: #2F2A8A; /* Color de fondo del banner */
    color: white;
    padding: 60px; /* Espaciado interno del banner */
    text-align: center;
    overflow: hidden; /* Oculta cualquier cosa que se desborde */
    height: 300px; /* Ajusta la altura según sea necesario */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para profundidad */
    background: #1D1B6E ;
}

.banner-title {
    font-size: 2.5rem; /* Tamaño de fuente más grande */
    font-weight: bold; /* Fuente en negrita */
    margin: 0;
    line-height: 1.2; /* Espaciado entre líneas */
}

.banner-subtitle {
    font-size: 1.5rem; /* Tamaño de fuente más grande */
    margin: 10px 0;
    font-style: italic; /* Fuente en cursiva para un toque estilizado */
}

@media (max-width: 768px) {
    .home-second-banner {
        padding: 40px; /* Reduce el espaciado en pantallas pequeñas */
        height: auto; /* Ajusta la altura según el contenido */
    }

    .banner-title {
        font-size: 2rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }

    .banner-subtitle {
        font-size: 1.25rem; /* Tamaño de fuente más pequeño en pantallas pequeñas */
    }
}
