.homeInfo {
    background-color: #1D1B6E; /* Background color */
    color: white;
    padding: 50px; /* fondo spacing */
    text-align: center;
    width: 100%;
    height: auto; /* Adjusted for dynamic height */
    margin: 0 auto; /* Centering */
    position: relative;
    padding-top: 60px;
}

.bannerInfotitle {
    font-size: 2rem; /* Title font size */
    margin: 0;
}

.bannerInfosubtitle {
    font-size: 1.25rem; /* Subtitle font size */
    margin: 10px 0;
}

.bannerInfotitleh3 {
    font-size: 1.5rem; /* H3 font size */
    margin: 20px 0; /* Spacing */
}

@keyframes scroll {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}
