
.th{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;
}
 
.navbarx {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 25px;
  position: fixed;
  width: 100%;
  top: 0;
  justify-content: center;

}
