/* General */
.Consult_Box {
    max-width: 300px; /* Ajustar el ancho del formulario */
    margin: 30px auto; /* Centramos el formulario */
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    color: #333;
    border-radius: 15px;
    box-shadow: 0 20px 40px rgba(132, 133, 187, 0.7); /* Sombra intensa */
    text-align: left; /* Texto alineado a la izquierda */
    background: rgba(255, 255, 255, 0.95); /* Fondo blanco translúcido */
}

/* Títulos */
label {
    font-weight: 600; /* Negrita para etiquetas */
    margin-bottom: 5px; /* Espacio debajo de las etiquetas */
    display: block; /* Hacer que cada etiqueta ocupe toda la línea */
}

/* Inputs */
input {
    width: 100%; /* Hacer que los inputs ocupen el ancho total */
    padding: 10px; /* Espaciado interno */
    margin-bottom: 15px; /* Espacio entre inputs */
    border: 1px solid #ccc; /* Borde ligero */
    border-radius: 5px; /* Bordes redondeados */
    transition: border-color 0.3s; /* Transición suave para el borde */
}

input:focus {
    border-color: #1D1B6E; /* Color del borde en foco */
    outline: none; /* Sin contorno en foco */
}

/* Botones */
.btnSignUp {
    background-color: #1D1B6E; /* Color de fondo */
    color: white; /* Color del texto */
    padding: 10px 20px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición para el color de fondo */
}

.btnSignUp:hover {
    background-color: #1A1B60; /* Color de fondo al pasar el mouse */
}

button:disabled {
    background-color: #ccc; /* Color cuando está deshabilitado */
    cursor: not-allowed; /* Cursor de no permitido */
}

/* Mensajes de error y éxito */
.error-message, .success-message {
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
}

.error-message {
    color: #d9534f; /* Color de error */
    background-color: #f8d7da; /* Fondo claro para errores */
    border: 1px solid #d9534f;
}

.success-message {
    color: #18187e; /* Color de éxito */
    background-color: #d1ecf1; /* Fondo claro para éxito */
    border: 1px solid #5bc0de;
}
